:root{
  --light-grey: rgba(194, 201, 209, 0.25);
  --light-blue: rgba(45, 156, 219, 0.25);
  --blue: rgb(45, 156, 219);
  --text-default: rgb(59, 66, 86);
  --text-medium: rgb(59, 66, 86, 0.7);
  --text-light: rgba(0, 0, 0, 0.5);
}

body{
  font-family: 'Open Sans', sans-serif;
  color: var(--text-default);
}

#app{
  display: flex;
  padding: 20px;
}

.column{
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 20px;
}

.column.left{
  height: 442px;
}

label,
.label{
  margin-bottom: 10px;
  color: var(--text-light);
  text-transform: capitalize;
}

input[type="text"]{
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  font-size: 14px;
  width: 200px;
  height: 30px;
  padding: 5px 10px;
}

input[type="text"]:focus{
  outline: 2px solid var(--light-blue);
}

.media-count{
  padding-top: 55px;
}

.radio{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

.radio .label{
  margin: 0px;
}

.radio-btn{
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50px;
  margin-right: 8px;
}

.checkmark{
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50px;
  position: absolute;
  left: 4px;
  visibility: hidden;
}

.btn{
  font-size: 16px;
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: var(--blue);
  color: white;
  cursor: pointer;
}

li{
  list-style: none;
}

.icon.save-icon{
  font-size: 16px;
  margin-right: 8px;
}

#save-tags-container{
  margin-top: auto;
  padding-top: 15px;
}

#save-tags{
  cursor: pointer;
}

#save-file-input{
  padding-top: 10px;
  display: flex;
}

.icon-btn{
  width: max-content;
  height: max-content;
  margin-left: 8px;
  padding: 0px;
  border-radius: 50px;
  border: none;
  background: none;
  align-self: center;
  font-size: 24px;
  cursor: pointer;
}

.icon-btn svg{
  font-size: 24px;
}

.warning{
  color: #EB5757;
  font-size: 12px;
  padding-top: 5px;
}

/* Searchbox */

#searchbox{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}


/* Categories */

#categories{
  width: 300px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.chip-set{
  display: flex;
  flex-wrap: wrap;
}

.icon{
  color: var(--text-light); 
  font-size: 12px;
}

#add-cat-icon{
  margin-left: 6px; 
  cursor: pointer;
}

#edit-cat-icon{
  margin-left: auto; 
  cursor: pointer;
}

#add-cat-icon.active,
#edit-cat-icon.active{
  color: var(--light-blue);
}

#categories input[type="text"]{
  margin-top: 6px;
}

/* Chip */

.chip{
  background: var(--light-grey);
  border-radius: 50px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  width: max-content;
}

.chip:hover{
  cursor: pointer;
}

.chip.selected{
  background: var(--light-blue);
}


/* Tag Display */

.tag-display{
  margin-bottom: 30px;
}


/* Text Box */

.text-box{
  color: var(--text-medium);
  border-radius: 8px;
  resize: none;
  box-shadow: none;
  border: 1px solid var(--light-grey);
  padding: 10px;
  position: relative;

  height: 400px;
  width: 360px;
}

.text-box.active{
  color: var(--text-default);
  border: 1px solid var(--light-blue);
  outline: 2px solid var(--light-blue);
}

/* Edit Button */

#edit-btn{
  color: var(--text-default);
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid var(--light-grey);
  padding: 4px 5px;
  border-radius: 8px;
}

#edit-btn:hover{
  cursor: pointer;
}